body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    background-color:  rgb(235, 240, 245);
    color: black;
    transition: all 0.5s ease;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
/* character profile styling  */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#profile{
    left: 50%;
    border:  5px solid black;
    padding:  15px;
    min-width: 300px;
    margin-bottom: 35px;
    border-radius: 8px;
    background-color: #613d9c;
    color: #f1f1f1;
    transition: background-color 0.3s ease, color 0.3s ease, 0.3s ease;
}

#switchCharacter{
    margin-top: 12px;
    padding: 16px, 12px;
    border-radius: 10px;
    font-size: medium;
    background-color: #613d9c;
    border: 3px solid lightcyan;
    color: white;
    transition: all 0.5s ;
}

#switchCharacter:hover{
    background-color: #e6e4c3;
    color: rgb(163, 71, 151);
    font-size: 20px;
}


#toggleMode{
    margin-top: 12px;
    padding: 16px, 12px;
    border-radius: 10px;
    font-size: medium;
    background-color: #f3f1f5;
    border: 3px solid rgb(0, 0, 0);
    color: rgb(1, 10, 29);
    transition: all 0.5s;
}

#toggleMode:hover{
    background-color: #c734a2;
    opacity: 0.6;
    color: azure;
    font-size: 20px;

}
/*darkmode styling */

.dark-mode{
    background-color: #504680;
    border-color: #333;
    color: #f1f1f1;
}

.dark-mode #profile{
    background-color: #1e1e1e;
    border-color: #333;
}

.dark-mode #switchCharacter{
    background-color: #000000;
    color: #f5f3f3;
    ;
}

.dark-mode #toggleMode{
    background-color: #1e1e1e;
    color: #fcfcfc;
    border-color: #f1f1f1;
}

.dark-mode .theme-b{
    background-color: #1e1e1e;
    color: #fcfcfc;
    border-color: #f1f1f1;
}

/*theme button styling */

.theme-b{
    margin-top: 12px;
    padding: 16px, 12px;
    border-radius: 10px;
    font-size: medium;
    background-color: #f3f1f5;
    border: 3px solid rgb(0, 0, 0);
    color: rgb(1, 10, 29);
    transition: all 0.5s;
}

.theme-b:hover{
    opacity: 0.6;
    background-color: #c7347d;
    color: azure;
    font-size: 20px;

}

.blue-theme{
    background-color:#D1EEF8;
    color: #0A3A5A;
}
.green-theme{
    background-color:#D4EFDF;
    color: #28B463;
}
.purple-theme{
    background-color: #E8DAEF;
    color:#6C3483;
}

body.blue-theme #profile {
    background-color: #B0DAEF; 
    color: #132172;          
    border-color: #001c99;   
}

/* Green Theme Profile */
body.green-theme #profile {
    background-color: #a3d9b8; 
    color: #004D40;           
    border-color: #00796B;    
}

/* Purple Theme Profile */
body.purple-theme #profile {
    background-color: #dab0e7; 
    color: #921b64;           
    border-color: #673AB7;    
}
